.grider {
  margin-top: 10vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  grid-row-gap: 5vh;
}

#root {
  min-height: 100vh;
  background-color: #F6F1F1;
}